.clinics-list-container {
    .clinics-list-body {
        padding: 0 100px;
        .clinics-list-title {
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            margin: 20px 0;
            text-transform: uppercase;
        }
    }
}
