.doctor-detail-container {
    height: 500px;
    border: 1px solid red;
    margin: 0 100px;
    .intro-doctor {
        display: flex;
        border: 1px solid olive;
        .content-left {
            width: 20%;
            background: center center no-repeat;
            background-size: cover;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
            border: 1px solid olive;
        }
        .content-right {
            width: 80%;
            border: 1px solid goldenrod;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            .up {
                padding-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }
            .down {
                padding-top: 10px;
            }
        }
    }
}
